
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
    
}
#main-header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 26, 24);
    padding: 0 5%;
}
 
#logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(239, 164, 80);
    text-transform: uppercase;
}
header ul {
    display: flex;
    
}
#main-header li {
    margin: 0 1rem;
    
}
#main-header nav a {
    color: rgb(185, 131, 31);
    font-size: 1.25rem;
}
#main-header nav a:hover {
    color: rgb(228, 163, 44);
}

main h1 {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 3rem;
}
.container {
    width: 80%;
    margin: 2rem auto;
}
.container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.food-item {
    background-color: rgb(229, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.food-item-content {
    padding: 1rem;
    text-align: center;
}

.btn {
    background-color: rgb(228, 157, 44);
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
}
.btn:hover {
    background-color: rgb(221, 134, 34);
}


